[submodule "third_party/umm_malloc"]
	path = third_party/umm_malloc
	url = https://github.com/rhempel/umm_malloc.git
[submodule "third_party/BackgroundAudio"]
	path = third_party/BackgroundAudio
	url = https://github.com/earlephilhower/BackgroundAudio.git
[submodule "third_party/picomp3lib"]
	path = third_party/picomp3lib
	url = https://github.com/ikjordan/picomp3lib.git
[submodule "docs"]
	path = docs
	url = https://github.com/jeffory/PicOS.wiki.git
